<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lelian.mqtt.mapper.AgentMapper">

  <insert id="insert" parameterType="java.util.Map">
    INSERT INTO "public"."agent" ("id") VALUES (#{serialnumber,jdbcType=INTEGER})
  </insert>

  <select id="checkConflict" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) from "public"."agent" where id = #{serialnumber,jdbcType=INTEGER}
  </select>

</mapper>